# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [51]:
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [52]:
import numpy as np
s1 = np.random.randint(1,4,100)
s2 = np.random.randint(1,4,100)
s3 = np.random.randint(10000,30001,100)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [56]:
data = pd.DataFrame([s1,s2,s3]).T

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [58]:
data.columns = ['bedrs','bathrs','price_sqr_meter']

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

#### Method 1 先把ndarray变成Series

In [66]:
s1 = pd.Series(s1)
s2 = pd.Series(s2)
s3 = pd.Series(s3)

In [67]:
dataLong = s1.append(s2).append(s3)

In [68]:
dataLong.columns = ['bigcolumn']

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [69]:
dataLong.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [85]:
type(dataLong)

pandas.core.series.Series

In [87]:
dataLong = pd.DataFrame(dataLong)
type(dataLong)

pandas.core.frame.DataFrame

In [89]:
dataLong.reset_index(drop=True,inplace=True)

In [90]:
dataLong

         0
0        1
1        1
2        3
3        2
4        3
..     ...
295  28120
296  25579
297  29224
298  19571
299  14401

[300 rows x 1 columns]